* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #666262;
  color: white;
}
nav a {
  color: white;
}
nav #logo {
  display: flex;
  align-items: center;
  width: 15%;
  height: 60px;
  background-color: #f54141;
  padding: 0px 20px;
}
nav #logo img {
  width: 20px;
}
nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
  padding: 5px 20px;
}

#intro {
  background-image: url(../slike/intro.jpg);
  background-size: cover;
  height: 90vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#intro div {
  background-color: rgba(0, 0, 0, 0.6039215686);
  width: fit-content;
  padding: 10px 10vw;
  margin-top: 30vh;
  text-align: center;
}
#intro div h1 {
  font-size: 52px;
}
#intro div h5 {
  font-size: 16px;
}

main {
  max-width: 80vw;
  margin: 20px auto;
}
main h1 {
  font-size: 44px;
  margin: 50px auto;
  text-align: center;
}
main #filters {
  text-align: right;
}
main #filters .filter {
  display: inline-block;
  border: 1px solid black;
  border-radius: 12px;
  margin: 0px 20px;
}
main #filters .filter p {
  padding: 5px 10px;
}
main #gallery {
  margin: 20px auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
main #gallery .picture {
  display: inline-block;
}
main #gallery .picture .caption {
  display: none;
}
main #gallery .picture img {
  margin: 30px;
}
main #pricing {
  text-align: center;
}
main #pricing h5 {
  font-size: 22px;
  margin-bottom: 30px;
}
main #pricing table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px auto;
}
main #pricing table th, main #pricing table td {
  padding: 15px 5px;
}
main #pricing table th.dark {
  background-color: #666262;
  color: white;
  border-bottom: 1px solid;
}
main #pricing table th.red {
  background-color: #f54141;
  color: white;
}
main #pricing table td {
  border: 1px solid black;
}
main #pricing #hidden {
  display: none;
}
main #pricing #hidden h5 {
  margin: 30px 0px;
}

#info {
  margin: 50px 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#info #map, #info #contact {
  display: inline-block;
  margin: 20px 30px;
}
#info #contact {
  width: 650px;
  height: fit-content;
  background-color: #f54141;
}
#info #contact .row {
  padding: 5px 10px;
  margin: 15px;
  display: flex;
  justify-content: space-between;
}
#info #contact select {
  box-sizing: border-box;
  padding: 10px 0px;
  width: 120px;
  margin-right: 40px;
}
#info #contact input, #info #contact textarea {
  box-sizing: border-box;
  padding: 10px 0px;
  width: 100%;
}

footer {
  background-color: #666262;
  padding: 20px 0px;
  text-align: center;
  color: white;
}
footer p > b {
  color: #f54141;
}

@media only screen and (max-width: 680px) {
  nav {
    flex-wrap: wrap;
  }
  nav #logo {
    width: 100%;
  }
  nav ul {
    display: none;
  }
  nav:hover ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav:hover ul li {
    padding: 15px 0px;
  }

  #intro {
    background-image: none;
    height: fit-content;
  }
  #intro div {
    background-color: black;
    margin-top: 0;
  }

  #filters {
    text-align: center !important;
  }
  #filters .filter {
    margin: 0px 10px !important;
  }

  .picture {
    width: 100%;
    position: relative;
  }
  .picture .caption {
    display: inline-block !important;
    background-color: rgba(255, 255, 255, 0.651);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
  }
  .picture img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    margin: 15px 0px !important;
  }

  #pricing table {
    display: none;
  }
  #pricing #hidden {
    display: block !important;
  }

  .row {
    flex-wrap: wrap;
  }

  #info #contact {
    margin: 20px 0px;
  }

  #info #contact select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
