@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

$narandzasta: #f75311;
$tamnoplava: #374249;
$bojaFonta: #797979;
$bojaNaslova: #374249;
$hoverNaDugmice: #cfd1d3;
$pozadinaSekcija: #f3f7f9;