* {
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    height: 50px;
    width: 100%;

    div {
        display: flex;
        background-color: orangered;
        width: 20%;

        a {
            padding-top: 5%;
            color: white;
        }
    }

    nav {
        background-color: rgb(73, 73, 73);
        display: flex;
        width: 80%;

        ul {
            list-style-type: none;
            margin: 1%;
            width: 100%;

            li {

                display: inline;
                padding-top: 3%;
                margin-right: 5%;

                a {
                    text-decoration: none;
                    color: white;

                }
            }
        }
    }
}

.intro {
    background-image: url(../slike/intro.jpg);
    background-repeat: no-repeat;
    display: flex;
    height: 500px;
    width: 100%;
    margin: 0% auto;
    align-items: center;

    img {
        width: 100%;
    }

    div {
        display: block;
        background-color: gray;
        opacity: 0.5;
        width: 45%;
        margin: 0% auto;
        text-align: center;
        height: 20%;
        padding-top: 2%;

        h1 {
            color: white;

        }

        p {
            color: white;
        }

    }
}

.attributes {
    display: flex;
    flex-direction: row-reverse;
    

    div {
        width: 10%;
        border: 1px solid lightgray;
        border-radius: 15px;
        color: gray;
        padding: 1%;
        margin: 1%;
        text-align: center;
    }
  
}