@import "vars";
@import "mixins";

* {
    @include pageReset
}

header {
    background-color: black;
    color: white;
    font-size: 11pt;
    font-weight: 400;

    img {
        display: none;
        width: 100%;
    }

    nav {
        background-color: $tamnoplava;

        ul {

            li {
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }

                &:not(:first-child) {
                    padding-bottom: 33px;
                }

                &:first-child {
                    background-color: $narandzasta;
                    padding-left: 20px;
                    padding: 12px;
                    margin-bottom: 33px;
                    font-size: 14pt;
                    @include menu_bar;

                    img {
                        width: 40px;
                    }
                }
            }

            a {
                color: white;

                &:link,
                &:visited {
                    text-decoration: underline;
                    text-decoration-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    .welcome {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
    }
}

h1 {
    font-size: 36pt;
    font-weight: 400;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
}

h3 {
    font-size: 18pt;
    font-weight: 700;
    color: $bojaNaslova;
    padding: 30px;
}

.btn {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    .button_div {
        font-size: 10pt;
        font-weight: 500;
        color: grey;
        border: 1.5px solid $hoverNaDugmice;
        padding: 10px;
        border-radius: 28px;

        &:hover {
            background-color: $hoverNaDugmice;
            color: white;
        }
    }

    p {
        padding-top: 10px;
        padding-bottom: 30px;
        color: grey;
    }
}

.offer {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    div {
        width: 90%;
        position: relative;
        padding-bottom: 20px;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: -10% 0;
        }

        div {
            @include imgOfferText;
        }
    }
}

.flexColumnCenter {
    flex-direction: column;
    align-items: center;
}

section {
    &:nth-child(2n) {
        background-color: $pozadinaSekcija;
    }

    iframe {
        margin-bottom: 20px;
    }

    form {
        background-color: $narandzasta;
        padding: 20px;
        margin: 5px;
        
        ::placeholder {
            color: lightgrey;
        }

        ::-ms-input-placeholder {
            color: lightgrey;
        }

        input,
        textarea,
        select {
            box-sizing: border-box;
            margin-bottom: 20px;
            padding: 7px;
            width: 100%;
            border: none;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}

.container {
    margin-bottom: 20px;
}

#chkPricesTbl {
    display: none;
}

footer {
    height: 50px;
    background-color: $tamnoplava;
    position: relative;

    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-weight: 300;

        a {
            color: $narandzasta;
            text-decoration: none;
        }
    }
}

@include medium_screen {

    header {
        position: relative;

        img {
            display: initial;
        }

        nav ul {
            display: flex;

            li {
                list-style: none;
                @include menu_bar;
                padding: 0px;
                margin-bottom: 0px;

                &:not(:first-child) {
                    padding-bottom: 0px;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                &:first-child {
                    margin-bottom: 0px;
                }
            }
        }

        .welcome {
            position: absolute;
            width: 60%;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding-bottom: 0px;
        }
    }

    section {
        @include squeeze_15;
    }

    .btnGoesRight {
        justify-content: right;
        @include squeeze_15;

        div {
            margin-left: 20px;
        }
    }

    .offer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        div {
            width: 49%;

            div {
                display: none;
            }

            &:hover>div {
                display: initial;
                @include imgOfferText;
            }
        }
    }

    #chkPricesTbl {
        display: initial;
        border-collapse: collapse;
        color: white;
        text-align: center;

        td {
            padding-left: 50px;
            padding-right: 50px;
        }

        thead {
            tr:first-child {
                td:last-child {
                    background-color: $narandzasta;
                }
            }

            tr:nth-child(2) {
                background-color: $tamnoplava;
            }
        }

        tbody {
            td {
                border: 1px solid gray;
            }

            tr:nth-child(1) {
                td:first-child {
                    background-color: $narandzasta;
                }

                td:nth-child(2) {
                    background-color: $tamnoplava;
                }

                td:nth-child(3),
                td:nth-child(4) {
                    color: grey;
                }
            }

            tr:nth-child(2),
            tr:nth-child(3) {
                td:first-child {
                    background-color: $tamnoplava;
                }

                td:nth-child(2),
                td:nth-child(3) {
                    color: grey;
                }
            }
        }
    }

    form {
        width: 60%;
    }

    .container {
        display: flex;
        justify-content: space-between;
        border: none;
        margin-bottom: 0px;

        select {
            width: 20%;
        }

        input {
            width: 70%;
            height: 32px;
        }
    }

    .chkPricesBtn {
        display: none;
    }

}

@include big_screen {

    .offer {
        justify-content: left;

        div {
            max-width: 200px;
            margin-right: 20px;
        }
    }

    section:nth-child(4) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        h3:first-child {flex: 1 1 100%; text-align: center;}
        form {width: 50%;}
        
    }
}