@import "vars";
@import "mixins";

* {
    @include pageReset
}

header {
    background-color: black;
    color: white;
    font-size: 11pt;
    font-weight: 400;

    nav {
        background-color: $tamnoplava;

        ul {
            li {
                text-align: center;

                &:hover {
                    text-decoration: underline;
                }

                &:not(:first-child) {
                    padding-bottom: 33px;
                }

                &:first-child {
                    background-color: $narandzasta;
                    padding: 12px;
                    padding-left: 20px;
                    margin-bottom: 33px;
                    font-size: 14pt;
                    display: flex;
                    align-items: center;

                    img {
                        width: 40px;
                    }
                }
            }

            a {
                color: white;

                &:link,
                &:visited {
                    text-decoration: underline;
                    text-decoration-color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    .welcome {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 50px;
    }
}

h1 {
    font-size: 36pt;
    font-weight: 400;
}

h2 {
    font-size: 14pt;
    font-weight: 400;
}

h3 {
    font-size: 18pt;
    font-weight: 700;
    color: $bojaNaslova;
    padding: 30px;
}

.btn {
    display: flex;
    justify-content: space-around;
    padding: 20px;

    div {
        font-size: 10pt;
        font-weight: 500;
        color: grey;
        border: 1.5px solid $hoverNaDugmice;
        padding: 10px;
        border-radius: 28px;

        &:hover {
            background-color: $hoverNaDugmice;
            color: white;
        }
    }
    
    p {
        padding-top: 10px;
        padding-bottom: 30px;
        color: grey;
    }
}

.offer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;

    div {
        width: 90%;
        position: relative;
        padding-bottom: 20px;

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            object-position: -10% 0;

        }

        div {
            position: absolute;
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            opacity: 0.8;
            height: 100px;
            padding: 20px;
            font-weight: 500;
            font-size: 14pt;
        }
    }
}

.flexColumnCenter {
    flex-direction: column;
    align-items: center;
}

section {
    &:nth-child(2n) {
        background-color: $pozadinaSekcija;
    }

    iframe {
        margin-bottom: 20px;
    }

    form {
        background-color: $narandzasta;
        padding: 20px;
        margin: 5px;

        ::placeholder {
            color: lightgrey;
        }

        ::-ms-input-placeholder {
            color: lightgrey;
        }
        
        input, textarea, select {
            box-sizing: border-box;
            margin-bottom: 20px;
            padding: 7px;
            width: 100%;
            border: none;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

}

footer {
    height: 50px;
    background-color: $tamnoplava;
    position: relative;
    
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        a {
            color: $narandzasta;
            text-decoration: none;
        }
    }
}